
/*Font for headings */
h1, h2, h3 {
	font-family: 'Merriweather Sans', sans-serif;
}

/*Font for regular text */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Font for navigation bar */
.menu-bar li a {
	font-family: 'Lato', sans-serif;
}

/* Font for the buttons */
.button {
	font-family: 'Lato', sans-serif;
}