
/*Font for poster text */
h1 {
	font-family: 'Merriweather Sans', sans-serif;
}

/*Font for regular text */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Font for poster text */
h2 {
	font-family: 'Merriweather Sans', sans-serif;
}