
/*************************
	BASE STYLES
***************************/

h1 {
	font-size: 2.5em;
	color: #004080;
}

h2 {
	font-size: 2.0em;
	color: #1A8CFF;
}

h3 {
	font-size: 1.5em;
	color: #4da6ff;
}

h4 {
	font-size: 1.1em;
	color: #66b4ff;
}

body {
	color: #0066cc;
	background-color: #99ceff;
}

/*Container of whole page */
.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
}

hr {
	border: 1px solid #0066cc;
}

.section1 {
	padding: 50px;
	padding-top: 20px;
	background-color: #b3daff;
}

.section2 {
	padding: 50px;
	padding-top: 20px;
	background-color: #cce6ff;
}

/*************************
	MODULE STYLES
***************************/

/* Nav Bar */
.menu-bar ul {
	list-style-type: none;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: #004080;
	padding: 0px;
}

.menu-bar li {
	float: left;
}

.menu-bar li a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 20px;
}

/* Tables */
/* For contact form and to display DB information */
/* Used in contact-form.php and database-read.php */
table {
	border-collapse: collapse;
	margin-top: 30px;
}

th, td {
    padding: 20px;
    text-align: left;
    border: 1px solid #66b5ff;
    border-collapse: collapse;
}

td, tr {
	font-weight: bold;
}

.button {
	background-color: #0059b3;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	font-size: 17px;
	margin-top: 15px;
	margin-left: 10px;
	border-radius: 6px;
}

input[type=submit]:hover {
    background-color: #0073e6;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    border: 1px solid #99ccff;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
	width: 90%;
	padding: 10px;
	border: 1px solid #99ccff;
	border-radius: 6px;
	font-size: 14px;
}

/*************************
	LAYOUT STYLES
***************************/


/* 1.   H O M E     P A G E    */

/******* SECTION 1 *******/

#part13, #part24 {
	display: table-cell;
	vertical-align: top;
}

#part13 {
	margin-right: 10px;
	width: 65%;
	padding: 15px;
}

#part13 img {
	float: right;
	height: 200px;
	width: 300px;
	overflow: hidden;
	padding: 10px;
}

#part3 {
	font-size: 14px;
}

#part24 {
	padding: 15px;
	font-size: 14px;
}

#part24 img {
	height: 150px;
	width: 270px;
	overflow: hidden;
	display: block;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 30px;
}

/********* SECTION 2 **********/
.sub-menu ul {
	list-style-type: none;
	margin-bottom: 30px;
	background-color: #0066cc;
	padding: 0px;
	border: 1px solid #004080;
	border-collapse: collapse;
}

.sub-menu li {
	display: block;
	padding: 10px;
	border: 1px solid #004080;
	border-collapse: collapse;
	text-align: center;
}

.sub-menu li a {
	text-decoration: none;
	color: white;
}

.section2 img {
	float: right;
	height: 200px;
	width: 300px;
	overflow: hidden;
}

.section2 ul {
	list-style-type: none;
	padding: 0px;
}


/* 1.   P O R T F O L I O     P A G E    */

.portfolio p {
	font-size: 12px;
}

.portfolio img {
	height: 300px;
	width: 300px;
	overflow: hidden;
	margin: auto;
	display: block;
}

#one, #two {
	display: table-cell;
	vertical-align: top;
	width: 50%;
}

#one {
	padding: 40px;
	background-color: #b3daff;
}

#two {
	padding: 40px;
	background-color: #cce6ff;
}

#three, #four {
	display: table-cell;
	vertical-align: top;
	width: 50%;
}

#three {
	padding: 40px;
	background-color: #cce6ff;
}

#four {
	padding: 40px;
	background-color: #b3daff;
}

#five , #six {
	display: table-cell;
	vertical-align: top;
	width: 50%;
}

#five {
	padding: 40px;
	background-color: #b3daff;
}

#six {
	padding: 40px;
	background-color: #cce6ff;
}


/*************************
	STATE STYLES
***************************/

/* Current page in nav bar */
.active {
	background-color: #0059b3;
	color: white;
}

